{% extends 'base.html'%}

{% block content %}
<h3 class="text-center my-4"> Login </h3>
    <div class="card-body">

<!--          <h6 class="card-category">-->
<!--              {% if msg %}-->
<!--                <span class="text-danger">{{ msg  }}</span>-->
<!--              {% else %}-->
<!--                  Add your credentials-->
<!--              {% endif %}-->
<!--          </h6>-->

<!--          <br />-->
    {% for message in messages %}
   <div class="alert alert-danger">
         {{message}}

   </div>
{% endfor %}


<form action="" method="post">
    {% for fm in form %}
      {% csrf_token %}
      <div class="form-group">
          {{fm.label_tag}}

          {{fm}}

      </div>
    {% endfor %}
    <button class="btn btn-primary my-2 text-center">Login</button>
</form>
    </div>
{% endblock content %}